$primary-bg: #000;
$primary-text-color: #FF3B3B;
$navbar-color: #FF6ddd;

body {
	background-color: $primary-bg
}

h1,
h2,
h3,
h4,
h5,
p {
	color: $primary-text-color;
}

.navbar {
	background-color: $navbar-color
}

.navbar img {
	width: 40px;
	height: 40px;
}

.container {
	display: flex;
	flex-direction: row;
}

.upper-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.upper-content img {
	width: 140px;
	height: 140px;
}

.lower-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.lower-content .form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div section {
	color: white;
	margin: 10px;
	flex: 50%;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}